.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &__link {
    max-width: 275px;
    margin: 5px;
    transition: .3s;
    position: relative;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      right: 0px;
      bottom: 0px;
      background-color: #000;
      opacity: 0;
      transition: .3s;
      z-index: 11;
    }
    span{
      opacity: 0;
      transition: .5s;
      font-size: 3rem;
      color: #FFF;
      z-index: 22;
    }
    &:hover::before, &:focus::before {
      opacity: .6;
    }
    &:hover span, &:focus span{
      opacity: .8;
    }
    &:hover &__img, &:focus &__img{
      transform: scale(1.1);
    }

    &__img {
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition: .2s;
      // padding: 5px;
    }
  }
}
